.register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .register-form button:hover {
    background-color: #45a049;
  }
  

  .success-message {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    border-radius: 5px;
  }
  
  .success-message p {
    font-size: 18px;
    font-weight: bold;
    color: #3c763d;
  }
  
  .success-message button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #5cb85c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .success-message button:hover {
    background-color: #4cae4c;
  }